@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 100; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumBarunGothicUltraLight.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 300; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumBarunGothicLight.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 400; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumBarunGothic.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 700; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumBarunGothicBold.woff2) format('woff2');
    font-display: swap;
}

/* 헤더 */
.header{
    border: 1px solid black;
    box-sizing: border-box;
    display: flow-root;
}

.header .header_c1{
    margin: 0 auto;
    height: 30px;
    width: 1050px;
    border: 1px solid red;
    box-sizing: border-box;

}
.header .header_c1 .header_c1_left{
    float: left;
    display: flow-root;
}
.header .header_c1 .header_c1_left > li{
    float: left;
    margin-right: 10px;
}
.header .header_c1 .header_c1_right{
    float: right;
    display: flow-root;
}
.header .header_c1 .header_c1_right > li{
    float: right;
    margin-left: 10px;
}

.header .header_c2{
    margin: 0 auto;
    height: 130px;
    width: 1050px;
    border: 1px solid blue;
    box-sizing: border-box;
    display: flow-root;
}
.header .header_c2 .header_c2_logo{
    width: 200px;
    height: 80px;
    float: left;
    margin: 22px 20px;
}
.header .header_c2 .header_c2_serch{
    width: 300px;
    display: flow-root;
    float: left;
    margin: 0 auto;
    height: 130px;
}
.header .header_c2 .header_c2_serch > input{
    width: 250px;
    height: 30px;
    margin:0 auto;
}
.header .header_c2 .header_c2_serch > *{
    float: left;
}
.header .header_c2 .header_c2_menu > li{
    float: right;
    margin-right: 10px;
}

.header .header_c3{
    margin: 0 auto;
    height: 50px;
    width: 1050px;
    border: 1px solid seagreen;
    box-sizing: border-box;
}

.header .header_c3 .header_c3_menu{
    margin: 0 auto;
    background-color: aquamarine;
    display: flow-root;
    float: left;
}
.header .header_c3 .header_c3_menu > li{
    margin: 0 20px;
    float: left;
}

/* slick */
.main .slick_area{
    height: 350px;
    border: 2px solid blueviolet;
    box-sizing: border-box;
    margin-bottom: 20px;
}


/* 상품 */
.main .product_container{
    width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    box-sizing: border-box;
    flex-wrap: wrap;
    /* flex-grow: 1; */
}

.main .product_container .product_category_title{
   /* width: 100%; */
   border: 1px solid red;
   box-sizing: border-box;
   height: 30px;
   width: 100%;
}

.main .product_container .product_category_title h2{
    font-weight: normal;
    font-size: 20px;
    color: #2e2e2e;
    text-align: center;
    letter-spacing: 5px;
}

.main .product_container .product_containers{
    display: flex;
    border: 1px solid hotpink;
    box-sizing: border-box;
    height: 280px;
    width: 100%;
    justify-content: space-between;
}


/* footer */
.footer{
    height: 180px;
    border: 2px solid forestgreen;
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
}

.footer .footer_divs{
    border: 1px solid orchid;
    width: 30%;
}

.footer .footer_div1{
    width: 40%;
}
